<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>318144773070-c2k965ogjspidnlvvt7tjana9s856v4o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.318144773070-c2k965ogjspidnlvvt7tjana9s856v4o</string>
	<key>API_KEY</key>
	<string>AIzaSyA_0HWu9VSOoCG3-bHj-WT8552w2bUUUP4</string>
	<key>GCM_SENDER_ID</key>
	<string>318144773070</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.potro</string>
	<key>PROJECT_ID</key>
	<string>potro-a3aaf</string>
	<key>STORAGE_BUCKET</key>
	<string>potro-a3aaf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:318144773070:ios:c86458a87601eb05e6499f</string>
	<key>DATABASE_URL</key>
	<string>https://potro-a3aaf-default-rtdb.firebaseio.com</string>
</dict>
</plist>